.base {
  position: relative;
    align-items: center;
    padding: 7px 30px 7px 20px;
    width: 92px;
    height: 16px;
  background-color: #000;
  color: #fff;
}

.name {
  position: relative;
  display: block;
  padding-right: 8px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  line-height: 16px;
  text-overflow: ellipsis;
}

.name::after {
  position: absolute;
  right: 0;
  top: 50%;
  height: 18px;
  margin-top: -9px;
  border-left: 1px solid #fff;
  opacity: .5;
  content: '';
}
.close {
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    font-size: 14px;
    text-align: center;
    align-content: center;
  cursor: pointer;
}