.base,
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.base {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.overlay {
  background: #000;
  opacity: .6;
  z-index: 0;
}

.dialog {
  position: relative;
  z-index: 10;
  background: #373737;
  margin: 0 auto;
  padding: 20px;
  width: 474px;
  color: #fff;
}

.header {
  position: relative;
  margin: 0 0 16px;
}

.title {
  margin: 0;
  font-size: 16px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  background: none;
  border: none;
  color: #fff;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.filter {
  display: flex;
  gap: 16px;
}

.list {
  overflow-y: auto;
  padding: 10px 20px;
  height: 266px;
  color: #fff;
  background-color: #141414;
}

.item {
  margin: 0.5rem;
}

.item_disabled {
  opacity: .6;
}

.checkbox,
.label {
  cursor: pointer;
}

.item_disabled .checkbox,
.item_disabled .label {
  cursor: not-allowed;
}
