.list {
  overflow-y: auto;
  padding: 10px 20px;
  height: 266px;
  color: #fff;
  background-color: #141414;
}

.item {
  margin: 0.5rem;
}
.item_disabled {
  opacity: .6;
}

.checkbox,
.label {
  cursor: pointer;
}

.item_disabled .checkbox,
.item_disabled .label {
  cursor: not-allowed;
}